<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/<% if (editing || hasError) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" 
                class="<%= validationErrors.find(e => e.param==='title')? 'invalid':'' %>"
                name="title" id="title" value="<% if (editing || hasError) { %><%= product.title %><% } %>">
            </div>
 <!--            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" 
                class="<%= validationErrors.find(e => e.param==='imageUrl')? 'invalid':'' %>"
                id="imageUrl" value="<% if (editing || hasError) { %><%= product.imageUrl %><% } %>">
            </div> -->
            <div class="form-control">
                <label for="imageUrl">Image</label>
                <input 
                    type="file" 
                    name="image" 
                    id="image">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" 
                class="<%= validationErrors.find(e => e.param==='price')? 'invalid':'' %>"
                name="price" id="price" step="0.01" value="<% if (editing || hasError) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description"
                class="<%= validationErrors.find(e => e.param==='description')? 'invalid':'' %>"
                id="description" rows="5"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>
            <input type="hidden" name="_csrf"  value="<%=csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>