<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error occured ! </h1>
    <h2>We are working on it ! </h2>

<%- include('includes/end.ejs') %>